.opponents {
    position: relative;
    display: flex;
    justify-content: flex-end;

    @media (max-width: $breakpoint_md) {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__wrapper {
        position: relative;
        overflow: hidden;
        padding-top: 68px;
        padding-bottom: 126px;
        background: #e9d9c3;


        &:after {
            content: '';
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 593px;
            height: 462px;
            z-index: 2;

            @include image("opponents__man.png");
            @media (max-width: $breakpoint_md) {
                z-index: 1;
                opacity: .5;
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        right: -350px;
        top: -350px;
        width: 376px;
        height: 448px;
        z-index: 1;

        @include image("opponents__path.png");
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        max-width: 510px;
        margin-right: 20px;
        margin-top: 20px;

        @media (max-width: $breakpoint_md) {
            margin-right: 0;
            margin-bottom: 30px;
            margin-top: 0;
            width: 510px;
            max-width: 100%;
        }
        &:before {
            content: '';
            position: absolute;
            left: -308px;
            top: 0px;
            width: 277px;
            height: 276px;

            @include image("opponents__lines.svg");
        }

        p {
            position: relative;
            font-size: 38px;
            line-height: 48px;
            color: #3D2308;

            @include fw(700);

            @media (max-width: $breakpoint_md) {
                @include fw(400);
                font-size: 30px;
                line-height: normal;
            }
            @media (max-width: $breakpoint_sm) {
                font-size: 20px;
                line-height: normal;
            }
            &:first-child {
                margin-bottom: 38px;
                max-width: 510px;

                @media (max-width: $breakpoint_md) {
                    margin-bottom: 10px;
                    max-width: 100%;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: -100px;
                    bottom: -200px;
                    width: 376px;
                    height: 448px;
                    opacity: 0.07;

                    @include image("opponents__path.png");
                }
            }

            &:nth-child(2) {
                margin-bottom: 20px;
                max-width: 424px;
            }
        }

        &>div {
            width: 412px;
            height: 450px;

            @media (max-width: $breakpoint_md) {
                width: 100%;
            }
            &:before {
                content: '';
                position: absolute;
                left: -450px;
                bottom: -200px;
                width: 376px;
                height: 448px;

                @include image("opponents__path.png");
            }

            &:after {
                content: '';
                position: absolute;
                right: -550px;
                bottom: -100px;
                width: 376px;
                height: 448px;

                @include image("opponents__path.png");
            }
            @media (max-width: $breakpoint_md) {
                &:before{
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: calc(50% - 30px);
                    bottom: auto;
    
                    width: 60px;
                    height: 60px;
                    background: #fff;
                    border-radius: 50%;
                }
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: calc(50% - 15px);
                    bottom: auto;
    
                    width: 30px;
                    height: 30px;
                    @include image("zoom.png");
                }
            }
        }
    }

    &__shadowBlock {
        position: relative;
        z-index: 2;
        width: 510px;
        height: 528px;
        background: #FFFFFF;
        border: 2px solid #001429;
        box-sizing: border-box;
        box-shadow: -4px 6px 0px #001429;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-width: $breakpoint_md) {
            max-width: 100%;
        }
        @media (max-width: $breakpoint_sm) {
            img {
                max-width: 100%;
            }
        }
        p {
            font-size: 32px;
            line-height: 41px;
            color: #3D2308;

            @include fw(700);

            margin-bottom: 16px;
            margin-left: 15px;

            align-self: start;
            @media (max-width: $breakpoint_sm) {
                font-size: 20px;
                line-height: normal;
            }
        }
    }
}