.public {
    position: relative;

    &__wrapper {
        overflow: hidden;
        padding-top: 120px;
        padding-bottom: 198px;
        background: #afd2e9;
    }

    &:before {
        content: '';
        position: absolute;
        left: -117px;
        bottom: -197px;
        width: 197px;
        height: 396px;

        @include image("public__people.png");
    }

    &:after {
        content: '';
        position: absolute;
        right: -106px;
        bottom: -198px;
        width: 324px;
        height: 285px;

        @include image("public__car.png");
    }

    &>p {
        font-size: 50px;
        line-height: 63px;
        text-align: center;
        color: #000000;

        @include fw(700);
        margin-bottom: 80px;
    }

    ul {
        max-width: 1013px;
        margin: auto;

        @media (max-width: $breakpoint_lg) {
            max-width: 825px;
        }
        li {
            position: relative;
            font-size: 28px;
            line-height: 35px;
            color: #3D3D3D;

            @include fw(700);

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &:before {
                content: '';
                position: absolute;
                left: -30px;
                top: 5px;
                width: 13px;
                height: 24px;

                @include image("public__arr.svg");
            }
        }
    }
}