.result {
    position: relative;
    &__wrapper {
        overflow: hidden;
        padding-top: 120px;
        padding-bottom: 157px;
        background: #e9e1ca;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -185px;
        right: -489px;
        width: 797px;
        height: 357px;

        @include image("result__car.png");
        @media (max-width: $breakpoint_lg) {
            z-index: 1;
        }

    }

    &>p {
        font-size: 50px;
        line-height: 63px;
        color: #000000;

        @include fw(700);
        margin-bottom: 24px;
    }

    &__content {
        position: relative;
        right: 170px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: $breakpoint_lg) {
            right: 0;
            z-index: 2;
        }

        img {
            margin-right: 78px;
            @media (max-width: $breakpoint_lg) {
                margin-right: 0;
            }
        }

        div {
            max-width: 616px;
            p {
                font-size: 28px;
                line-height: 140%;
                color: #000000;

                @include fw(700);
                &:first-child {
                    margin-bottom: 30px;
                }
            }
        }
    }
}