.shop {
    &__wrapper {
        padding-top: 120px;
        padding-bottom: 120px;
        background: #F1F58F;
    }

    p {
        font-size: 50px;
        line-height: 63px;
        text-transform: uppercase;
        color: #000000;

        @include fw(700);
        @media (max-width: $breakpoint_md) {
            font-size: 30px;
            line-height: normal;
        }
    }

    a {
        font-size: 38px;
        line-height: 48px;
        text-transform: uppercase;
        color: #0bb1bc;

        text-transform: none;

        @include fw(700);
        @media (max-width: $breakpoint_md) {
            font-size: 26px;
            line-height: normal;
        }
    }
}