.three {
    position: relative;
    &__wrapper {
        overflow: hidden;
        padding-top: 120px;
        padding-bottom: 324px;
        background: #5E4B56;
    }

    &>p {
        position: relative;
        font-size: 50px;
        line-height: 63px;
        color: #FFFFFF;

        @include fw(700);
        margin-bottom: 80px;

        &:before {
            content: '';
            position: absolute;
            left: 347px;
            top: -130px;
            width: 92px;
            height: 92px;
            border-radius: 50%;
            background: #F7C59F;
            opacity: 0.05;
        }

        &:after {
            content: '';
            position: absolute;
            right: -1200px;
            top: 0px;
            width: 1440px;
            height: 164.17px;

            @include image("three__mech4.png");
        }
    }

    
    &:before {
        content: '';
        position: absolute;
        left: 30px;
        bottom: -290px;
        width: 86px;
        height: 86px;

        @include image("three__mech2.png");
    }

    &:after {
        content: '';
        position: absolute;
        right: -20px;
        bottom: -475px;
        width: 205px;
        height: 222px;

        @include image("three__mech3.png");
    }


    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;

        &:before {
            content: '';
            position: absolute;
            left: -70px;
            top: -20px;
            width: 45px;
            height: 45px;

            @include image("three__mech1.png");
        }

        &:after {
            content: '';
            position: absolute;
            right: 329px;
            top: -40px;
            width: 45px;
            height: 45px;

            @include image("three__mech1.png");
        }

        &>div {
            position: relative;
            width: 100%;
            max-width: 404px;
            height: 248px;
            background: rgba(164, 150, 158, 0.9);
            box-shadow: -4px 4px 4px rgba(87, 68, 65, 0.25);
            border-radius: 15px;
            box-sizing: border-box;
            padding: 35px 22px 35px 22px;

            @media (max-width: $breakpoint_lg) {
                margin: 0 5px;
            }
            .title {
                font-size: 28px;
                line-height: 35px;
                color: #FFFFFF;

                @include fw(700);
                width: fit-content;
                position: relative;
                margin-bottom: 28px;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 5px;

                    @include image("three__underline.svg", cover);
                }
            }

            .text {
                font-size: 18px;
                line-height: 23px;
                color: #DFDFDF;

                @include fw(700);
            }

            &:nth-child(2) {
                top: 81px;
            }

            &:nth-child(3) {
                top: 151px;
            }
        }
    }
}