.analysisResult {
    display: flex;
    justify-content: space-around;
    @media (max-width: $breakpoint_md) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: $breakpoint_sm) {
        align-items: start;
    }
    &__wrapper {
        padding-top: 170px;
        padding-bottom: 170px;
        background: #208D66;
        height: 1200px;
        box-sizing: border-box;
        position: relative;
        @media (max-width: $breakpoint_md) {
            height: fit-content;
        }
        @media (max-width: $breakpoint_sm) {
            padding-top: 100px;
            padding-bottom: 100px;
            overflow: hidden;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 170px;
            width: 860px;
            height: 860px;
            margin: auto;

            @include image("analysisResult__logo.svg");
            @media (max-width: $breakpoint_md) {
                max-width: 100%;
            }
            @media (max-width: $breakpoint_sm) {
                top: 50px;
            }
        }
        
        h2 {
            color: #fff;
            width: fit-content;
            margin: auto;
            text-align: center;
            font-size: 70px;
            line-height: 130%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media (max-width: $breakpoint_lg) {
                font-size: 50px;
            }
            @media (max-width: $breakpoint_sm) {
                font-size: 30px;
                line-height: normal;
            }

            @include fw(700);

            &:after {
                content: '';
                width: 100%;
                max-width: 828px;
                height: 5px;
                border-radius: 15px;
                background: #fff;
                margin-top: 6px;
                margin-bottom: 90px;
                @media (max-width: $breakpoint_sm) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    ul {
        max-width: 411px;
        @media (max-width: $breakpoint_sm) {
            max-width: 100%;
            width: 100%;
            br {
                display: none;
            }
        }
        li {
            position: relative;
            left: 47px;
            font-size: 38px;
            line-height: 140%;
            color: #F9D78A;

            @include fw(700);

            @media (max-width: $breakpoint_md) {
                @include fw(400);
            }
            @media (max-width: $breakpoint_sm) {
                font-size: 20px;
                line-height: normal;
                left: 15px;
                max-width: calc(100% - 15px);
            }
            &:not(:last-child) {
                margin-bottom: 53px;
                @media (max-width: $breakpoint_sm) {
                    margin-bottom: 10px;
                }
            }
            span {
                width: 100%;
                display: block;
                color: #fff;
                @media (max-width: $breakpoint_sm) {
                    display: inline;
                    margin-left: 5px;
                }
            }

            &:before {
                content: '';
                position: absolute;
                display: block;
                left: -47px;
                top: 10px;
                width: 27px;
                height: 27px;
                border-radius: 50%;
                background: rgba(255, 201, 199, 0.75);
                @media (max-width: $breakpoint_sm) {
                    width: 10px;
                    height: 10px;
                    top: 8px;
                    left: -20px;
                }
            }
        }
    }
}