.begin {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $breakpoint_md) {
        flex-direction: column;
    }
    &__wrapper {
        padding-top: 120px;
        padding-bottom: 142px;
        background: #0054B6;

        &>h2 {
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 12px;
            @media (max-width: $breakpoint_md) {
                font-size: 40px;
                line-height: normal;
            }
            @media (max-width: $breakpoint_sm) {
                font-size: 30px;
                padding: 0 5px;
            }
        }

        &>p {
            text-align: center;
            color: #FFC852;
            font-size: 28px;
            line-height: 35px;
            text-transform: uppercase;
            margin-bottom: 73px;

            @include fw(700);
            @media (max-width: $breakpoint_md) {
                font-size: 25px;
                line-height: normal;
            }
            @media (max-width: $breakpoint_sm) {
                font-size: 20px;
                padding: 0 5px;
            }
        }
    }

    &__vertical {
        display: flex;
        flex-direction: column;

        &>.title {
            font-size: 28px;
            line-height: 33px;
            color: #fff;
            text-transform: lowercase;

            @include fw(400);
            margin-bottom: 70px;
        }

        &>div {
            &>.title {
                font-size: 38px;
                line-height: 48px;
                text-transform: uppercase;
                color: #FA70CA;

                @include fw(700);
                @media (max-width: $breakpoint_sm) {
                    font-size: 24px;
                }
            }

            &>.text {
                margin-top: 13px;
                font-size: 18px;
                line-height: 130%;
                color: #fff;

                @include fw(400);
            }
        }

        &:first-child {
            max-width: 298px;
            margin-right: 71px;
            @media (max-width: $breakpoint_lg) {
                margin-right: 0px;
            }
            @media (max-width: $breakpoint_md) {
                max-width: 100%;
                text-align: center;
                margin-bottom: 50px;
            }
            &>.title {
                margin-bottom: 61px;
                @media (max-width: $breakpoint_md) {
                    margin-bottom: 20px;
                }
            }

            &>div:not(:last-child) {
                margin-bottom: 49px;
                @media (max-width: $breakpoint_md) {
                    margin-bottom: 30px;
                }
            }
        }

        &:last-child {
            margin-left: 37px;
            max-width: 404px;
            @media (max-width: $breakpoint_lg) {
                margin-left: 0px;
            }
            &>.title {
                margin-bottom: 71px;
                @media (max-width: $breakpoint_md) {
                    margin-bottom: 20px;
                }
            }

            &>div:not(:last-child) {
                margin-bottom: 39px;
                @media (max-width: $breakpoint_md) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}