.count {
    z-index: 3;
    display: flex;
    flex-direction: column;
    &__wrapper {
        position: relative;
        padding-top: 213px;
        max-height: 821px;
        box-sizing: border-box;
        background: #E7E7E7;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            top: -175px;
            width: 446px;
            height: 991px;

            @include image("count__vector.svg");
        }
    }

    h2 {
        z-index: 3;
        font-size: 80px;
        line-height: 140%;
        color: #0B80BD;
        margin-bottom: 85px;

        @include fw(700);
    }

    &>div {
        max-width: 934px;
        height: 420px;
        width: 100%;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;

        background: #FFFFFF;
        border: 2px solid #001429;
        box-shadow: -4px 6px 0px #001429;
        border-radius: 24px;
    }
}