.dig {
    &__wrapper {
        padding-top: 304px;
        padding-bottom: 135px;
        overflow: hidden;

        background: #B26796;

        @media (max-width: $breakpoint_md) {
            padding-top: 125px;
        }
    }

    h2 {
        max-width: 834px;
        font-size: 70px;
        line-height: 104px;
        color: #FFFFFF;
        margin-bottom: 54px;

        @media (max-width: $breakpoint_lg) {
            font-size: 50px;
            line-height: 70px;
        }

        @include fw(700);
    }

    .number {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #02B784;
        border-radius: 50%;

        font-size: 70px;
        line-height: 104px;
        color: #FFFFFF;

        @include fw(700);
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $breakpoint_lg) {
            flex-direction: column;

            &>div,
            &>img {
                &:not(&:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &__biomed {
        position: relative;
        margin-bottom: 105px;

        .title {
            position: absolute;
            top: -252px;
            right: -94px;

            @media (max-width: $breakpoint_lg) {
                right: -37px;
            }
            @media (max-width: $breakpoint_md) {
                top: 0;
                position: relative;
                width: fit-content;
                margin: auto;
                left: 0;
                right: 0;
                margin-top: 141px;
                margin-bottom: 20px;
            }

            .number {
                position: absolute;
                top: -118px;
                left: 46px;
                @media (max-width: $breakpoint_md) {
                    margin: auto;
                    left: 0;
                    right: 0;
                }
    
            }

            .logo {
                width: 395px;
                height: 186px;

                @include image("dig__biomed_logo.svg");
                @media (max-width: $breakpoint_md) {
                    width: 301px;
                    height: 118px;
                }
            }
        }

    }

    &__closeup {
        margin-bottom: 52px;

        .title {
            position: relative;
            width: fit-content;
            margin-bottom: 64px;
            left: -40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: $breakpoint_md) {
                top: 0;
                position: relative;
                width: fit-content;
                margin: auto;
                left: 0;
                right: 0;
                margin-top: 141px;
                margin-bottom: 20px;
            }
            .logo {
                width: 450px;
                height: 135px;
                margin-right: 34px;

                @include image("dig__closeup_logo.svg");
            }
        }
    }

    &__carot {
        display: flex;
        flex-direction: column;

        .title {
            position: relative;
            width: fit-content;
            margin-bottom: -85px;
            right: -40px;
            align-self: flex-end;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: $breakpoint_md) {
                top: 0;
                position: relative;
                width: fit-content;
                margin: auto;
                left: 0;
                right: 0;
                margin-top: 141px;
                margin-bottom: 20px;
            }
            .logo {
                width: 231px;
                height: 263px;
                margin-left: 40px;

                @include image("dig__carot_logo.svg");
            }
        }
    }
}