.interview {
    display: flex;
    flex-direction: column;
    &__wrapper {
        padding-top: 231px;
        padding-bottom: 110px;
        background: #fff;
        @media (max-width: $breakpoint_md) {
            padding-top: 100px;
        }
    }

    p {
        align-self: flex-end;
        max-width: 1040px;  
        font-size: 50px;
        line-height: 140%;
        color: #000000;

        @include fw(700);
        @media (max-width: $breakpoint_md) {
            font-size: 24px;
            @include fw(400);
            line-height: normal;
        }
        @media (max-width: $breakpoint_sm) {
            text-align: center;
        }
    }
}