.lovely {
    
    &__wrapper {
        overflow: hidden;
        position: relative;
        padding-top: 68px;
        padding-bottom: 66px;
        background: #D36654;
    }

    &:before {
        z-index: 1;
        content: '';
        width: 478px;
        height: 486px;
        position: absolute;
        top: 75px;
        right: -42px;

        @include image("lovely__vector.svg");
        @media (max-width: $breakpoint_lg) {
            opacity: .3;
        }
    }

    &:after{ 
        z-index: 2;
        content: '';
        width: 455px;
        height: 430px;
        position: absolute;
        top: 65px;
        right: 0;

        @include image("lovely__img.png");
        @media (max-width: $breakpoint_lg) {
            opacity: .5;
        }
    }

    p {
        position: relative;
        z-index: 3;
        max-width: 934px;
        font-size: 50px;
        line-height: 63px;
        color: #fff;
        @include fw(700);
        &:first-child {
            margin-bottom: 65px;
        }
    }
}