.mission {
    position: relative;
    z-index: 3;
    &__wrapper {
        position: relative;
        padding-top: 120px;
        padding-bottom: 120px;
        background: #FA70CA;
        @media (max-width: $breakpoint_md) {
            overflow: hidden;
        }
        &:before {
            content: '';
            width: 730px;
            height: 752px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;

            @include image("mission__vector.svg");
            @media (max-width: $breakpoint_lg) {
                opacity: .5;
            }
            @media (max-width: $breakpoint_md) {
                height: 500px;
                opacity: 0.1;
            }
        }

        &:after {
            content: '';
            width: 518px;
            height: 806px;
            position: absolute;
            right: 0;
            top: 122px;
            z-index: 2;

            @include image("mission__img.png");
            @media (max-width: $breakpoint_lg) {
                opacity: .5;
            }
            @media (max-width: $breakpoint_md) {
                top: 0;
                opacity: .2;
            }
        }
    }


    p {
        font-size: 28px;
        line-height: 130%;
        text-transform: uppercase;
        color: #3D2308;
        margin-bottom: 20px;

        @include fw(700);
        @media (max-width: $breakpoint_sm) {
            font-size: 20px;
            line-height: normal;
            margin-bottom: 10px;
        }
    }

    h2 {
        font-size: 90px;
        line-height: 114px;
        text-transform: uppercase;
        color: #FFFFFF;

        @include fw(700);
        @media (max-width: $breakpoint_md) {
            font-size: 50px;
            line-height: normal;
        }
        @media (max-width: $breakpoint_sm) {
            font-size: 30px;
        }
    }
}