.more {
    position: relative;
    &__wrapper {
        overflow: hidden;
        padding-top: 155px;
        padding-bottom: 300px;
        background: #026986;
        @media (max-width: $breakpoint_sm) {
            padding-top: 75px;
            padding-bottom: 75px;
        }
    }

    &:before {
        content: '';
        width: 594px;
        height: 754px;
        position: absolute;
        bottom: -230px;
        left: -393px;

        @include image("more__money.png");
        @media (max-width: $breakpoint_md) {
            opacity: .2;
        }
    }

    &:after {
        content: '';
        width: 656px;
        height: 1016px;

        position: absolute;
        top: 20px;
        left: 700px;

        @include image("more__tv.png");
        @media (max-width: $breakpoint_lg) {
            display: none;
        }
    }

    h2 {
        font-size: 80px;
        line-height: 101px;
        color: #FFFFFF;

        @include fw(700);

        width: fit-content;
        border: 10px solid #fff;
        border-left: none;
        padding: 44px 10px 44px 110px;

        position: relative;
        left: -94px;
        margin-bottom: 117px;
        @media (max-width: $breakpoint_md) {
            font-size: 50px;
            padding: 0 10px 0 110px;
        }
        @media (max-width: $breakpoint_sm) {
            font-size: 30px;
            line-height: normal;
            padding: 10px 10px 10px 65px;
            left: -59px;
            border: 5px solid #fff;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        @media (max-width: $breakpoint_md) {
            align-items: center;
        }

        li {
            position: relative;
            font-size: 46px;
            line-height: 58px;

            @include fw(700);

            @media (max-width: $breakpoint_md) {
                @include fw(400);
            }
            @media (max-width: $breakpoint_sm) {
                font-size: 30px;
                line-height: normal;
                width: 100%;
                text-align: center;
                margin-bottom: 40px !important;
            }
            &:before {
                content: '';
                width: 42px;
                height: 42px;
                border-radius: 50%;

                position: absolute;
                top: 8px;
                left: -62px;
            }

            &:nth-child(1) {
                left: 100px;
                color: #72BB54;
                margin-bottom: 141px;
                max-width: 510px;

                @media (max-width: $breakpoint_md) {
                    left: 0;
                    max-width: 100%;
                    min-width: 100%;
                }
                &:before {
                    background: #FEC700;
                }
            }

            &:nth-child(2) {
                left: 316px;
                color: #CA8D47;
                margin-bottom: 137px;
                max-width: 403px;

                @media (max-width: $breakpoint_md) {
                    left: 0;
                    max-width: 100%;
                    min-width: 100%;
                    &>br {
                        display: none;
                    }
                }
                &:before {
                    background: #61C9F3;
                }
            }

            &:nth-child(3) {
                left: 486px;
                color: #C4C4C4;
                max-width: 544px;

                @media (max-width: $breakpoint_md) {
                    left: 0;
                    max-width: 100%;
                    min-width: 100%;
                    &>br {
                        display: none;
                    }
                }
                &:before {
                    background: #FFC9C7;
                }
            }
        }
    }
}