.parallel {
    &__wrapper {
        padding-top: 170px;
        padding-bottom: 170px;
        background: #0B80BD;
    }

    p {
        z-index: 2;
        position: relative;
        font-size: 80px;
        line-height: 140%;
        color: #F9D78A;

        @include fw(700);

        @media (max-width: $breakpoint_lg) {
            font-size: 50px;
        }
        @media (max-width: $breakpoint_sm) {
            font-size: 30px;
            line-height: normal;
        }

        &:after {
            z-index: -1;
            content: '';
            position: absolute;
            right: 20px;
            top: -37px;
            width: 151px;
            height: 151px;

            @include image("way__evaluation_figure.svg");
        }
    }
}