.persons {
    &__wrapper {
        padding-top: 114px;
        padding-bottom: 195px;
        background: #E7E7E7;
        overflow: hidden;
        @media (max-width: $breakpoint_sm) {
            padding-top: 75px;
            padding-bottom: 75px;
        }
    }

    .title {
        margin-bottom: 36px;
        margin-left: 129px;
        @media (max-width: $breakpoint_sm) {
            margin-left: 0;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 50px;
            line-height: 140%;
            text-align: left;
            color: #0B80BD;
            margin-bottom: 0;

            @include fw(700);
            @media (max-width: $breakpoint_sm) {
                font-size: 30px;
                line-height: normal;
                text-align: center;
            }
        }

        p {
            color: #747474;
            font-size: 28px;
            line-height: 39px;

            @include fw(700);
            @media (max-width: $breakpoint_sm) {
                font-size: 20px;
                line-height: normal;
                text-align: center;
            }
        }
    }
}