.way {
    &__wrapper {
        padding-top: 120px;
        padding-bottom: 195px;
        background: #6050CE;
        position: relative;
        overflow: hidden;
    }

    h2 {
        font-size: 50px;
        line-height: 150%;
        @include fw(700);
        text-transform: uppercase;
        position: relative;
        text-align: center;
        color: #fff;
        margin: auto;
        width: fit-content;
        margin-bottom: 68px;
        &:before {
            content: '';
            position: absolute;
            bottom: -5px;
            width: 100%;
            left: 0;
            height: 5px;
            border-radius: 15px;
            background: #fff;
        }
        
    }

    &__start {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        &:after {
            content: '';
            width: 130px;
            height: 130px;
            background: #000;
            border-radius: 50%;
            position: absolute;
            top: -160px;
            right: -70px;
        }
        .text {
            position: relative;
            max-width: 510px;
            p {
                color: #fff;
                font-size: 28px;
                line-height: 39px;

                @include fw(700);

                &:not(&:last-child) {
                    margin-bottom: 40px;
                }

            }
            &:before {
                content: '';
                width: 616px;
                height: 618px;
                position: absolute;
                top: 25px;
                left: -526px;
                z-index: 1;
                opacity: .3;
    
                @include image("way__start.svg");
            }
        }
        .img {
            width: 616px;
            height: 618px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &:before {
                content: '';
                width: 616px;
                height: 618px;
                position: absolute;
                z-index: 1;
    
                @include image("way__start.svg");
            }

            img {
                position: relative;
                display: block;
                width: 521px;
                height: 430px;
                z-index: 2;
            }
        }
    }

    &__build {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 85px;
        &:after {
            content: '';
            width: 130px;
            height: 130px;
            background: #000;
            border-radius: 50%;
            position: absolute;
            bottom: -100px;
            left: -150px;
        }

        p {
            max-width: 726px;
            font-size: 70px;
            line-height: 140%;
            color: #FFC852;

            @include fw(700);

            &>span {
                color: #E07188;
            }
        }

        .img {
            &:before {
                content: '';
                width: 416px;
                height: 473px;
                position: absolute;
                left: -150px;
                top: 0;
                z-index: 1;
    
                @include image("way__build.svg");
            }

            img {
                position: absolute;
                bottom: -145px;
                left: 35px;
                width: 355px;
                height: 255px;
            }
        }
    }
    &__giant {
        position: relative;
        left: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 192px;


        p {
            max-width: 510px;
            font-size: 70px;
            line-height: 140%;
            color: #fff;

            @include fw(700);

            &>span {
                color: #E07188;
            }
        }

        .img {
            position: relative;

            img {
                position: relative;
                width: 730px;
                z-index: 3;
                border: 10px solid #fff;
                padding: 25px;
            }
            &:before {
                content: '';
                width: 616px;
                height: 618px;
                position: absolute;
                top: 0px;
                right: -526px;
                z-index: 1;
                opacity: .3;
    
                @include image("way__start.svg");
            }
        }

        &_reverse {
            margin-bottom: 117px;
            left: -20px;

            p {
                font-size: 50px;
            }

            .img {
                img {
                    width: 680px;
                }
                &:before {
                    display: none;
                }
            }
        }
    }

    &__understand {
        position: relative;
        margin-bottom: 150px;
        

        h2 {
            position: relative;
            top: 24px;
            left: 100px;
            margin: 0;
            display: block;
            font-size: 70px;
            line-height: 140%;
            color: #fff;
            text-transform: none;
            z-index: 2;
            @include fw(700);
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                max-width: 593px;
                height: 130px;
                background: #F8DD4D;
                z-index: -1;
            }
            
            &:after {
                content: '';
                position: absolute;
                bottom: -5px;
                width: 100%;
                left: 0;
                height: 5px;
                border-radius: 15px;
                background: #fff;
                z-index: 2;
            }
        }
        
        .right {
            width: 263px;
            height: 506px;
            position: absolute;
            display: inline-block;
            right: -140px;
            top: -70px;

            img {
                width: 263px;
                height: 506px;
                position: relative;
                z-index: 3;
            }
            
            &:after {
                content: '';
                width: 124px;
                height: 124px;
                position: absolute;
                background: #FEC700;
                border-radius: 50%;
                top: 210px;
                right: 0;
                z-index: 2;
            }
            &:before {
                content: '';
                width: 262px;
                height: 262px;
                position: absolute;
                background: #02B784;
                border-radius: 50%;
                top: 100px;
                right: 56px;
                z-index: 1;
            }
        }

        .left {
            position: relative;
            left: -86px;
            background: #F8DD4D;
            max-width: 1066px;
            min-height: 567px;
            &:before {
                content: '';
                width: 262px;
                height: 262px;
                position: absolute;
                bottom: 33px;
                left: -200px;
                background: #02B784;
                border-radius: 50%;
            }
            &:after {
                content: '';
                width: 169px;
                height: 211px;
                position: absolute;
                bottom: 60px;
                left: 5px;
                @include image("way__understand_left.png");
            }
        }

        img {
            position: absolute;
            display: block;
            right: 34px;
            width: 950px;
            height: 534px;
            top: 0;
        }
    }

    &__valuation {
        z-index: 5;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            max-width: 674px;
            font-size: 50px;
            line-height: 140%;
            color: #FFDE68;
            position: relative;

            @include fw(700);

            &:before {
                content: '';
                position: absolute;
                top: -200px;
                left: 0;
                width: 151px;
                height: 151px;

                @include image("way__evaluation_figure.svg");
            }
        }

        .img {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: -150px;
                right: -70px;
                width: 150px;
                height: 304px;
                z-index: 2;

                @include image("way__evaluation_paste.png");
            }

            &:after {
                content: '';
                position: absolute;
                top: -150px;
                right: -70px;
                width: 258px;
                height: 258px;
                z-index: 1;

                @include image("way__evaluation_vector1.svg");
            }
            
            img {
                position: relative;
                z-index: 5;
            }

            div {
                top: 0;
                right: 0;
                position: absolute;
                width: 655px;
                height: 726px;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -55px;
                    right: -130px;
                    width: 655px;
                    height: 726px;
                    box-sizing: border-box;
                    border: 10px solid #fff;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -229px;
                    left: 204px;
                    width: 258px;
                    height: 258px;
                    z-index: 1;

                    @include image("way__evaluation_vector2.svg");
                }
            }
        }
    }

    &__popular {
        position: relative;
        width: 100%;
        background: #fff;
        border: 2px solid #001429;
        box-sizing: border-box;
        box-shadow: -4px 6px 0px #001429;
        border-radius: 24px;
        z-index: 5;
        padding-top: 27px;
        overflow: hidden;

        h2 {
            color: #001429;
            text-transform: none;
            font-size: 50px;
            line-height: 104px;
            margin-left: 49px;
            margin-bottom: 0;
        }
    }
}