.addinol {
    position: relative;
    @media (max-width: $breakpoint_md) {
        z-index: 3;
    }
    &__wrapper {
        position: relative;
        padding-top: 132px;
        padding-bottom: 307px;
        overflow: hidden;
        background: rgba(211, 179, 134, .5);
    }

    &__oil {
        position: absolute;
        right: -205px;
        top: 0;
        width: 437px;
        height: 305px;
        border-left: 10px solid #D4936A;
        border-bottom: 10px solid #D4936A;
        @media (max-width: $breakpoint_md) {
            z-index: 1;
        }
        &:before {
            content: '';
            position: absolute;
            left: 95px;
            bottom: -75px;
            width: 170px;
            height: 253px;
            @include image("addinol__oil.png");
            @media (max-width: $breakpoint_md) {
                z-index: 2;
            }
        }
    }

    &__girl {
        position: absolute;
        left: 0;
        bottom: -60px;
        width: 320px;
        height: 438px;

        @include image("addinol__girl.png");
    }

    &__title {
        position: relative;
        font-family: 'Docker';
        text-transform: uppercase;
        font-size: 120px;
        line-height: 120px;
        letter-spacing: 0.05em;
        color: rgba(22, 16, 8, 1);
        @media (max-width: $breakpoint_md) {
            text-align: center;
            width: fit-content;
            margin: auto;
        }
        &:before {
            content: '';
            position: absolute;
            left: -61px;
            top: -13px;
            width: 49px;
            height: 66px;
            @include image("addinol__drops.svg");
        }
    }
    &__subtitle {
        font-size: 38px;
        line-height: 37px;
        color: rgba(0, 0, 0, 0.5);
        @include fw(400);
        margin-bottom: 60px;
        @media (max-width: $breakpoint_md) {
            text-align: center;
        }
    }
    &>div {
        clear: both;
        position: relative;
        display: flex;
        justify-content: flex-end;
        &>img {
            position: absolute;
            left: -100px;
            top: 0;
            padding: 1px;
            border: 6px dashed #BF4D11;
            @media (max-width: $breakpoint_lg) {
                left: -300px;
            }
            @media (max-width: $breakpoint_md) {
                left: 0;
                right: 0;
                margin: auto;
                opacity: .1;
            }
        }
    }

    &__right {
        &>.ulTitle {
            margin-bottom: 27px;
        }
        &>ul {
            max-width: 484px;
            &>li {
                width: 100%;
                left: 26px;
                &:before {
                    @include image("addinol__li.svg");
                }
                &:after {
                    left: 0;
                    width: calc(100% + 120px);
                    @media (max-width: $breakpoint_md) {
                        width: calc(100% + 500px);
                    }
                }
                &:nth-child(1) {
                    &:after {
                        bottom: -2px;
                    }
                }

                &:nth-child(2) {
                    &:after {
                        bottom: -4px;
                    }
                }

                &:nth-child(3) {
                    &:after {
                        bottom: -1px;
                    }
                }

                &:nth-child(4) {
                    &:after {
                        bottom: -4px;
                    }
                }

                &:nth-child(5) {
                    &:after {
                        bottom: -1px;
                    }
                }

                &:nth-child(6) {
                    &:after {
                        bottom: -2px;
                    }
                }
            }
        }

        .btn_action {
            left: 9px;
        }
    }
}