.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: inherit;
    @media (max-width: $breakpoint_sm) {
        flex-direction: column;
    }
    &__wrapper {
        height: 189px;
        background: #000;
        z-index: 999;
        @media (max-width: $breakpoint_sm) {
            padding-top: 50px;
            padding-bottom: 50px;
            height: fit-content;
        }
    }

    &__left {

        position: relative;
        display: flex;
        align-items: center;
        @media (max-width: $breakpoint_sm) {
            flex-direction: column;
        }
    }

    &__logo {
        width: 117px;
        height: 39px;
        @include image("nav__logo.svg");
    }

    &__list {
        @include fw(700);
        line-height: 22px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 51px;
        @media (max-width: $breakpoint_sm) {
            flex-direction: column;
            margin-left: 0;
        }
        li {
            cursor: pointer;
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
            @media (max-width: $breakpoint_sm) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
    }

    .inst {
        width: 24px;
        height: 24px;
        margin-right: 23px;
        @include image("inst.svg");
        @media (max-width: $breakpoint_xs) {
            margin-right: 5px;
        }
    }

    .phone {
        @include fw(700);
        line-height: 16px;
        font-size: 14px;
    }
    .politicsLink1 {
      @include fw(400);
      font-size: 14px;
      margin-top: 10px;
      position: absolute;
      left: 0;
      bottom: -20px;
      color: #fff;
      &_mobile {
        @media (min-width: $breakpoint_sm) {
          display: none;
        }
        @media (max-width: $breakpoint_sm) {
          max-width: 100%;
          @include fw(400);
          font-size: 14px;
          margin-top: 10px;
          color: #fff;
        }
      }
      @media (max-width: $breakpoint_sm) {
        display: none;
      }
    }
}