.klatz {
    padding-top: 122px;
    padding-bottom: 250px;
    @media (max-width: $breakpoint_md) {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    &__wrapper {
        overflow: hidden;
        background: rgba(238, 229, 233, 1); 
    }

    &__page {
        margin-top: 100px;

        .klatz {
            padding-bottom: 138px;
            @media (max-width: $breakpoint_md) {
                padding-bottom: 100px;
            }
        }
        @media (max-width: $breakpoint_md) {
            margin-top: 25px;
            .klatz>div>img {
                top: 200px;
            }
        }
    }

    h2 {
        position: relative;
        display: inline-block;
        margin-bottom: 84px;
        &:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 5px;
            background: #000;
            border-radius: 25px;
        }
    }

    &>div {
        display: flex;
        justify-content: space-between;
        position: relative;
        &>img {
            width: 100%;
            max-width: 688px;
            height: 1041px;
            @media (max-width: $breakpoint_md) {
                position: absolute;
                top: -10px;
                left: 0;
                right: 0;
                margin: auto;
                z-index: 1;
                opacity: .2;
                display: none;
            }
            @media (max-width: $breakpoint_sm) {
                height: auto;
            }
        }
    }

    &__left {
        &>.title {
            font-size: 50px;
            line-height: 65px;
            color: rgba(199, 121, 208, 1);
            margin-bottom: 46px;
            text-transform: uppercase;
            @include fw(700);
            @media (max-width: $breakpoint_md) {
                text-align: center;
                font-size: 35px;
            }
            @media (max-width: $breakpoint_xxs) {
                font-size: 25px;
                line-height: normal;
            }
        }
        &>.ulTitle {
            @media (max-width: $breakpoint_md) {
                max-width: 100%;
                width: 350px;
                text-align: left;
            }
            @media (max-width: $breakpoint_xxs) {
                font-size: 25px;
            }
        }
        &>ul {
            padding: 0;
            margin: 0;
            margin-bottom: 28px;
            max-width: 378px;
            @media (max-width: $breakpoint_xxs) {
                max-width: calc(100% - 20px) !important;
            }
            li {

                &:nth-child(1) {
                    &:after {
                        bottom: -4px;
                    }
                }

                &:nth-child(2) {
                    &:after {
                        width: calc(170px + 120px);
                        @media (max-width: $breakpoint_md) {
                            width: calc(360px + 500px);
                        }
                        @media (max-width: $breakpoint_sm) {
                            width: calc(150px + 500px);
                        }
                    }
                }

                &:nth-child(3) {
                    &:after {
                        bottom: -2px;
                    }
                }

                &:nth-child(5) {
                    &:after {
                        width: calc(145px + 120px);
                        @media (max-width: $breakpoint_md) {
                            width: calc(124px + 500px);
                        }
                        bottom: -4px;
                    }
                }

                &:nth-child(6) {
                    &:after {
                        bottom: -3px;
                    }
                }
            }
        }
    }

    &__logo {
        position: relative;
        width: 298px;
        height: 53px;
        margin-bottom: 36px;
        @include image("klatz__logo.svg");

        @media (max-width: $breakpoint_md) {
            margin-bottom: 10px;
        }
        &:before {
            content: '';
            position: absolute;
            top: -50px;
            left: -170px;
            width: 152px;
            height: 246px;
            @include image("klatz__icon.svg");
        }
    }

}