.klatz {
    padding-top: 122px;
    padding-bottom: 250px;
    &__wrapper {
        background: rgba(238, 229, 233, 1); 
    }

    h2 {
        position: relative;
        display: inline-block;
        margin-bottom: 84px;
        &:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 5px;
            background: #000;
            border-radius: 25px;
        }
    }

    &>div {
        display: flex;
        justify-content: space-between;

        &>img {
            width: 100%;
            max-width: 688px;
            height: 1041px;
        }
    }

    &__left {

        &>.title {
            font-size: 50px;
            line-height: 65px;
            color: rgba(199, 121, 208, 1);
            margin-bottom: 46px;
            text-transform: uppercase;
            @include fw(700);
        }
        &>ul {
            padding: 0;
            margin: 0;
            margin-bottom: 28px;
            max-width: 378px;
            li {

                &:nth-child(1) {
                    &:after {
                        bottom: -4px;
                    }
                }

                &:nth-child(2) {
                    &:after {
                        width: calc(170px + 120px);
                    }
                }

                &:nth-child(3) {
                    &:after {
                        bottom: -2px;
                    }
                }

                &:nth-child(5) {
                    &:after {
                        width: calc(145px + 120px);
                        bottom: -4px;
                    }
                }

                &:nth-child(6) {
                    &:after {
                        bottom: -3px;
                    }
                }
            }
        }
    }

    &__logo {
        width: 298px;
        height: 53px;
        margin-bottom: 36px;
        @include image("klatz__logo.svg");
    }

}