.container {
    max-width: $width_xl; /* 1 */
    margin-left: auto; /* 2 */
    margin-right: auto; /* 2 */
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%; /* 1 */ 
    @media (max-width: $breakpoint_lg) {
        max-width: $width_lg;
    }
    @media (max-width: $breakpoint_md) {
        max-width: $width_md;
    }
    @media (max-width: $breakpoint_sm) {
        max-width: $width_sm;
    }
    @media (max-width: $breakpoint_xs) {
        max-width: $width_xs;
    }
    @media (max-width: $breakpoint_xxs) {
        max-width: $width_xxs;
    }
} 

