body {
	margin:0;
}

.fullscreen {
	cursor:zoom-in;
	&__parent {
		position: relative;
		cursor:zoom-in;
		@media (max-width: $breakpoint_md) {
			&:before{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				top: calc(50% - 30px);

				width: 60px;
				height: 60px;
				background: #fff;
				border-radius: 50%;
				border: 1px solid #000;
			}
			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				top: calc(50% - 15px);

				width: 30px;
				height: 30px;
				@include image("zoom.png");
			}
		}
	}
}

.popup {
	position: fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
	overflow: scroll;
	z-index: 1000;
}

.popup_bg {
	background:rgba(0,0,0,0.3);
	position:fixed;
	z-index:1000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: auto;
  	height: auto;
}


.popup_img {
	position: relative;
	z-index:1002;
	left: 0;
	top: 50%;
	transform: translate(0,-50%);
	max-height: 90%;
}

.popup_img {
  pointer-events: none;
}