// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: CaviarDreams;
    src: font("CaviarDreams.ttf");
}

@font-face {
    font-family: CaviarDreams-Bold;
    src: font("CaviarDreams_Bold.ttf");
}

@font-face {
    font-family: Docker;
    src: font("Docker.ttf");
}