// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'CaviarDreams', sans-serif;
    src: font("CaviarDreams.ttf");
}

@font-face {
    font-family: 'CaviarDreams-Bold', sans-serif;
    src: font("CaviarDreams_Bold.ttf");
}

@font-face {
    font-family: 'Docker', sans-serif;
    src: font("Docker.ttf");
}