// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;






/// xl container
$width_xl: calc(1250px + 10px) !default;
/// lg breakpoint
$breakpoint_lg: 1260px !default;
/// lg container
$width_lg: calc(960px + 10px) !default;
/// md breakpoint
$breakpoint_md: 990px !default;
/// md container
$width_md: calc(768px + 10px)  !default;
/// md breakpoint
$breakpoint_sm: 800px !default;
/// md container
$width_sm: calc(100% - 20px)  !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../' !default;
